._lock {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__row {
  display: flex;
  font-size: 0;
  align-items: center;
  height: 94px;
}
.header__menu {
  position: absolute;
  left: 18.26%;
}
@media (max-width: 612px) {
  .header__menu {
    position: absolute;
    left: 79%;
  }
}
.header__logo {
  position: absolute;
  left: 4.3%;
  top: 39px;
  z-index: 2;
}
.header__logo_item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__logo_item.active {
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .header__logo {
    left: 5.3%;
  }
  .header .menu__link:hover {
    color: #FFFFFF;
  }
}
.header__lang {
  position: absolute;
  top: 41px;
  right: 24.9%;
}
.header__lang_item {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.header__lang_item.active {
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .header__lang {
    right: 29.3%;
  }
}
@media (max-width: 767px) {
  .header__lang {
    right: 38.3%;
  }
}
@media (max-width: 612px) {
  .header__lang {
    right: 28.4%;
  }
}
.header__button {
  position: absolute;
  top: 24px;
  right: 4.44%;
}
.header__button_item {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 17px 48px;
  border: 1px solid rgba(253, 253, 253, 0.32);
}
.header__button_item.active {
  color: #FFFFFF;
  border: 1px solid rgba(253, 253, 253, 0.32);
}
@media (max-width: 1024px) {
  .header__button {
    right: 5.46%;
  }
  .header__button_item {
    padding: 17px 35px;
  }
}
@media (max-width: 612px) {
  .header__button {
    top: 612px;
    left: 55%;
    display: flex;
    transform: translate(-50%, 0px);
  }
  .header__button_item {
    transform: translate(0px, -1500%);
    transition: all 0.3s ease 0s;
  }
  .header__button_item.active {
    transform: translate(0px, 0px);
  }
}
@media (max-width: 434px) {
  .header__button {
    left: 52%;
  }
  .header__button_item {
    padding: 17px 20px;
  }
}

.menu {
  position: relative;
}
.menu__list {
  display: flex;
  font-size: 0;
}
.menu__list li {
  padding: 0px 24px;
}
.menu__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #fff;
}
.menu__link.active {
  color: #FFFFFF;
}
.menu__link_home {
  display: none;
}
.menu__icon_text {
  display: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  position: absolute;
  top: -3px;
  left: 50px;
}
@media (max-width: 1024px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #080808;
    opacity: 0.98;
    padding: 211px 0px 0px 212px;
    overflow: auto;
    transform: translate(0px, -100%);
    transition: all 0.7s ease 0s;
  }
  .menu__body.active {
    transform: translate(0px, 0px);
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list li {
    padding: 0px 0px 41px 0px;
  }
  .menu__list li:last-child {
    padding: 0px 0px 150px 0px;
  }
  .menu__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    opacity: 0.5;
  }
  .menu__link:hover {
    opacity: 1;
  }
  .menu__link_home {
    display: inline;
  }
  .menu__icon_text {
    display: block;
  }
  .menu__icon_text.active {
    display: none;
  }
}
@media (max-width: 612px) {
  .menu__list {
    text-align: center;
  }
  .menu__body {
    padding: 211px 0px 0px 0px;
  }
  .menu__icon_text {
    display: none;
  }
}

@media (max-width: 1024px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: -4px;
    left: 30px;
    width: 28px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 6px;
  }
  .icon-menu.active {
    top: -8px;
  }
  .icon-menu.active span {
    background-color: #fff;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .icon-menu.active span:first-child {
    transform: rotate(-45deg) translate(0px, -50%);
    top: 8px;
  }
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.32);
}

.request-but-menu {
  background-color: transparent;
  transition: 0.5s;
}

.request-but-menu:hover {
  background-color: transparent;
  background-color: rgba(253, 253, 253, 0.32);
  transition: 0.5s;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 39px 62px;
}

.footer__coop,
.footer__made {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
}

.footer__made {
  margin-left: auto;
  margin-right: 19px;
}

.footer__1st,
.footer__2nd {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 80%;
  color: #FFFFFF;
}

.footer__2nd {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .footer__1st,
.footer__2nd,
.footer__logo-cont,
.footer__coop,
.footer__made {
    margin: 1% auto;
    text-align: center;
  }
}
body {
  background: #080808;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FAFAFA;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.7;
}

a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.error {
  margin: 15% 0 15% 20%;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.32);
}